/*-------------------------------------------------------------------------------------- */
:root{
    --light: white;
    --dark: #333;
    --grey: rgb(230,230,230);
}

html{
    font-family: monospace;
}

body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;  
}
/*--------------------------------------------------------------------------------------*/


/* The container that holds thw two components of the app*/
.container{
    display: grid;
    grid-template: 300px minmax(180px, auto) / 550px;
    row-gap: 25px;
    margin: 50px 0px 0px 50px;
}

/* Task creator holds the input from the user*/
.task-creator{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: 25px 210px;
    grid-gap: 35px;
    border: none;
    padding: 15px;
    min-width: 550px;
    background-color: var(--grey);
}

/* The title of the taskBox */
.task-creator-title{
    grid-area: 1/1/2/2;
    font-size: 20px;
}

/* The form that contains different inputs for the task to be created */
#task-form{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: 25px 25px 85px 30px;
    grid-gap: 15px;
}

/* The input field for task title */
#task-title{
    grid-area: 1/1/2/2;
    width: 100%; 
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: var(--dark);
    background-color: transparent;
}

/* The box that holds the deadline input and label */
.task-deadline{
    grid-area: 2/1/3/2;
    font-size: 15px;
}

/* Task description */
#task-description{
    grid-area: 3/1/4/2;
}

#task-description-accordion{
    background-color: var(--light);
    color: var(--dark);
    height: 50px;
}

/* The output of the deadline visible in the taskBox */
#task-deadline-output{
    position: absolute;
    align-self: flex-start;
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
}

/* The output of the taskTitle visible in the taskBox  */
#task-title-output{
    position: absolute;
    align-self: center;
    font-size: 15px;
}

/* The "Add task" submit button for the taskForm */
#add-task{
    grid-area: 4/1/5/2;
    width: 150px;
    margin-left: 200px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    padding: 0;
}

/* Task box is the result from the input of the user*/
.task-box{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-rows: 25px 25px minmax(0, auto) 30px;
    grid-gap: 35px;
    border: none;
    padding: 15px;
    min-width: 550px;
    background-color: var(--grey);
}

/* The title of the taskBox */
.task-box-title{
    grid-area: 1/1/2/2;;
    font-size: 20px;
}

/* The task filter input field */
#task-filter{
    grid-area: 2/1/3/2;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: var(--dark);
    background-color: transparent;
}

/* The taskList */
.task-list{
    grid-area: 3/1/4/2;
    margin: 0;
    padding: 0;
}

/* The task list items 'li' */
#task-list-item{
    width: 100%;
    height: 30px;
    list-style: none;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 6px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
}

#task-list-item:hover{
    cursor: pointer;
}

/* The clear tasks button */
#clear-tasks{
    grid-area: 4/1/5/2;
    width: 150px;
    margin-left: 200px;
    background-color: var(--light);
    color: var(--dark);
    border: none;
    padding: 0;
}

/* The trash-icon button for deleting an item from the list */
.delete-btn{
    position: absolute;
    align-self: flex-end;
    margin-right: 5px;
    line-height: 30px;
}

.delete-btn i:hover{
    opacity: 0.5;
}